# Basics operators

## Arithmetic operators
Arithmetic Operators perform various arithmetic calculations like addition, subtraction, multiplication, division, modulus, exponent, etc. There are various methods for arithmetic calculation in Python : you can use the `eval()` function, or declare variables and do the computation, or call functions.

<table>

<tbody>

<tr>

<th style="text-align:center;width:10%">Operator</th>

<th style="text-align:center;width:45%">Description</th>


</tr>

<tr>

<td>+ Addition</td>

<td>Adds values on either side of the operator.</td>

</tr>

<tr>

<td>- Subtraction</td>

<td>Subtracts right hand operand from left hand operand.</td>


</tr>

<tr>

<td >* Multiplication</td>

<td>Multiplies values on either side of the operator.</td>



</tr>

<tr>

<td>/ Division</td>

<td>Divides left hand operand by right hand operand.</td>



</tr>

<tr>

<td>% Modulus</td>

<td>Divides left hand operand by right hand operand and returns remainder.</td>



</tr>

<tr>

<td>** Exponent</td>

<td>Performs exponential (power) calculation on operator.s</td>



</tr>

<tr>

<td>// Floor division</td>

<td>Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −</td>

</tr>

</tbody>

</table>

Let's try it. We create two variables and assign two values to them.

In [ ]:
a = 10
b = 20

**Addition**

In [ ]:
addition = a + b
print(addition)

**Subtraction**

In [ ]:
substraction = b - a
print(substraction)

**Multiplication**

In [ ]:
multiplication = a * b
print(multiplication)

**Division**  
Note that in this case, python returns a float.

In [ ]:
division = b / a
print(division)

**Floor division**  
To obtain an integer, you can use the floor division operator.

In [ ]:
floor_division = b // a
floor_division_bis = 31 // 10

print("floor_division: ", floor_division)
print("floor_division_bis: ", floor_division_bis)  # Outputs 3, not 3.1

**Modulus**  
To obtain the rest of a division.

In [ ]:
modulus = b % a
print("modulus :", modulus)
modulus_bis = 21 % 2
print("modulus_bis :", modulus_bis)

**Exponent**  
10 to the power 2

In [ ]:
power_of_two = a ** 2
print(power_of_two)

### Comparison Operators
These operators compare the values on either side of the operands and determine the relation between them. It is also referred as relational operators. Various comparison operators are ( ==, != , <>, >,<=, etc)

<table>

<tbody>

<tr>

<th>Operator</th>

<th >Description</th>



</tr>

<tr>

<td >==</td>

<td>If the values of two operands are equal, then the condition becomes true.</td>

</tr>

<tr>

<td >!=</td>

<td>If values of two operands are not equal, then condition becomes true.</td>



</tr>

<tr>

<td ><></td>

<td>If values of two operands are not equal, then condition becomes true. It has now been removed in Python 3.</td>



</tr>

<tr>

<td >></td>

<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>



</tr>

<tr>

<td ><</td>

<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>


</tr>

<tr>

<td >>=</td>

<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>


</tr>

<tr>

<td ><=</td>

<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>


</tr>

</tbody>

</table>


Let's try it. We create 2 variables and assign two values to them.

In [ ]:
a = 10
b = 20

**Equals**

In [ ]:
print(a == b)
print(a == 10)

**Not equals**

In [ ]:
print(a != b)
print(a != 10)

**Not equals but `<>` has now been removed in Python 3**  
Use `!=`

In [ ]:
print(a <> b)
print(a <> 10)

**Bigger than**

In [ ]:
print(a > b)
print(b > a)

**Bigger or equal than**

In [ ]:
print(a >= b)
print(b >= a)

**Smaller than**

In [ ]:
print(a < b)
print(b < a)

**Smaller or equal than**

In [ ]:
print(a <= b)
print(b <= a)

### Assignment Operators
Python assignment operators are used for assigning the value of the right operand to the left operand. Various assignment operators used in Python are (+=, - = , *=, /= , etc.)

<table>

<tbody>

<tr>

<th style="text-align:center;width:10%">Operator</th>

<th style="text-align:center;width:45%">Description</th>



</tr>

<tr>

<td >=</td>

<td>Assigns values from right side operands to left side operand.</td>


</tr>

<tr>

<td >+= Add AND</td>

<td>It adds right operand to the left operand and assign the result to left operand.</td>


</tr>

<tr>

<td >-= Subtract AND</td>

<td>It subtracts right operand from the left operand and assign the result to left operand.</td>



</tr>

<tr>

<td >*= Multiply AND</td>

<td>It multiplies right operand with the left operand and assign the result to left operand.</td>


</tr>

<tr>

<td >/= Divide AND</td>

<td>It divides left operand with the right operand and assign the result to left operand.</td>


</tr>

<tr>

<td>%= Modulus AND</td>

<td>It takes modulus using two operands and assign the result to left operand.</td>



</tr>

<tr>

<td>**= Exponent AND</td>

<td>Performs exponential (power) calculation on operators and assign value to the left operand.</td>


</tr>

<tr>

<td >//= Floor Division</td>

<td>It performs floor division on operators and assign value to the left operand.</td>



</tr>

</tbody>

</table>

**Assignment**

In [ ]:
a = 10
name = "Alan Turing"
print(a)
print(name)

**Add AND** (`+=`)

In [ ]:
a += 10
name += " is a good mathematician"
print(a)
print(name)

**❗ But beware, we can only add variables of the same type**  
The variable `a` is of type integer and the variable `name` is of type string.

In [ ]:
name += a  # It's the same as `name = name + a`

In [ ]:
a += name  # It's the same as `a = a + name`

**Subtract AND** (`-=`)

In [ ]:
a = 20
a -= 10
print(a)

This operator does not work with strings, unlike the `+=` operator.

In [ ]:
name -= "Alan Turing"

**Multiply AND** (`*=`)  
This operator works with strings.

In [ ]:
a = 10
a *= 10
print(a)

text = "Alan Turing"
text *= 10
print(text)

**Divide AND** (`/=`)

In [ ]:
a = 100
a /= 10
print(a)

This operator does not work with strings, unlike the `*=` operator.  
Note that in this case, Python returns a float.

**Modulus AND** (`=`)

In [ ]:
a = 100
a %= 3
print(a)

This operator does not work with strings.

**Exponent AND** (`**=`)

In [ ]:
a = 2
a **= 3  # ( 2 * 2 * 2)
print(a)

This operator does not works with character strings.

**Floor Division AND** (`//=`)

In [ ]:
a = 20
a //= 3
print(a)

This operator does not work with strings.

## [Next one](../4.conditions-and-other-operators/conditions-and-other-operators.ipynb)